@function toPx($number) {
  @return $number + 0px;
}

$grey: #edede8;
$font-color: #333;
$white: #fff;
$border-color: darken($grey, 20%);
$black: #333;
$hover: #777;

$input-width: 40;
$input-height: 40;
$image-preview-item-height: 35;
$image-preview-height: $input-height;
$image-preview-width: 300;
$border-radius: 4;
$box-shadow: 0 4px 10px 0 rgba($black, 0.25);

.custom-file-container {
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-start;

  * {
    box-sizing: border-box;
  }


  .input-container {
    display: none;
    width: toPx($input-width);
    height: toPx($input-height);
    position: relative;
    background-image: url('assets/images/file-upload.svg');

    &:hover {
      cursor: pointer;
    }
  }

  .input-hidden {
    display: none;
  }


  .image-preview {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: toPx($border-radius);
    height: toPx($image-preview-height);
    width: toPx($image-preview-width);
    display: flex;
    align-items: center; /* 垂直居中 */
    overflow: auto;
    transition: background 0.2s ease-in-out;
  }

  .image-preview-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: toPx($border-radius);
    box-shadow: $box-shadow;
    float: left;
    margin-left: 1%;
    height: toPx($image-preview-item-height);
    aspect-ratio: 4 / 3; /* 宽度与高度的比例 */
    width: auto; /* 宽度会自动调整以保持比例 */
    position: relative;
    transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out;

    &.multi-item-clear-animation {
      opacity: 0;
    }
  }

  .image-preview-item-clear {
    background: $grey;
    border-radius: 50%;
    box-shadow: $box-shadow;
    opacity: 100;
    height: 15px;
    left: -1px;
    margin-top: -2px;
    position: absolute;
    text-align: center;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    width: 15px;

    &:hover {
      background: darken($grey, 5%);
      cursor: pointer;
    }
  }

  .image-preview-item-clear-icon {
    color: $font-color;
    display: block;
    margin-top: -4px;
  }
}